<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="ss" connectionString="Data Source='DESKTOP-4D0HJKF\SQLEXPRESS';Integrated Security=True;Pooling=False;Initial Catalog='CAHR_DB'" providerName="System.Data.SqlClient"/>-->
	  
	  <add name="ApplicationServices"
		connectionString="Data Source=localhost\MSSQL2022;Initial Catalog=Web_CAHR;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;"
		providerName="System.Data.SqlClient" />


  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.7"/>
  </system.web>
</configuration>